# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### GoLand ###
.idea
*.iws
*.iml
*.ipr
*.csv

# Created by https://www.gitignore.io/api/go

### Go Patch ###
/vendor/
/Godeps/

# Created by https://www.gitignore.io/api/intellij

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml